 
 <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button> <a class="navbar-brand" href="#">ShopSJSU</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <div class="navbar-form navbar-right">
                    <div class="text-of-email">
                        <%= link_to current_user.email %>
                    </div><%= link_to "Log out", destroy_user_session_path, :style => "color: #FFFFFF;", method: :delete %>
                </div>
            </div>
        </div>
    </nav>
               
<div class="container">
  <div class="row">
    <div class="col-md-8 col-xs-10">
      <div class="well panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-4 text-center">
           
				<%= image_tag @profilepic.avator.url(:large), :class=>'center-block img-circle img-responsive', :style=>"width:200px; height:200px;" %>
				<h2>
				<%= @profilepic.user.firstname %>
				<%#= @profilepic.id %>
				</h2>
              <ul class="list-inline ratings text-center" title="Ratings">
                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
              </ul>
            </div>
            <!--/col--> 
            <div class="col-xs-12 col-sm-8">
              <h2><%= current_user.firstname %>
              <%= current_user.lastname %></h2>
              <p><strong>About: </strong> Student at San Jose State University </p>
              
            </div>
            <!--/col-->          
            <div class="clearfix"></div>
            <div class="col-xs-12 col-sm-3">
              <h2 style="text-align:center"><strong> 20 </strong></h2>
              <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Sold </button>
            </div>
            <!--/col-->
            <div class="col-xs-12 col-sm-3">
              <h2 style="text-align:center"><strong>24</strong></h2>
              <button class="btn btn-info btn-block"><span class="fa fa-user"></span> Item Listed </button>
            </div>
            <!--/col-->
            <div class="col-xs-12 col-sm-3">
              <h2 style="text-align:center"><strong>10</strong></h2>
              <button type="button" class="btn btn-primary btn-block"><span class="fa fa-gear"></span> Item bought </button>  
            </div>
            <div class="col-xs-12 col-sm-3">
               <h2 style="text-align:center"><strong></strong> <br></h2>
        
				<button type="button" class="btn btn-primary btn-block"><class="span class="fa fa-gear""></span> <%= link_to "add new Item" , 
				new_item_path, :style => "color: #FFFFFF;"  %>  </button>  
                          
            </div>
            <!--/col-->
          </div>
          <!--/row-->
        </div>
        <!--/panel-body-->
      </div>
      <!--/panel-->
    </div>
    <!--/col--> 
  </div>
  <!--/row--> 
</div>
<!--/container-->

  
  
  
  

