<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

        <div id="sign-up" class="new-user" >
        <ul>
            <li class="dropdown">
			 <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="text-decoration:none; background-color: transparent;margin-left:-40px">Create Account</a>

                <ul class="dropdown-menu dropdown-lr animated flipInX" role="menu" style="width:100%; background-color:#FF9900; padding:20px;">


               
                    <div id="legend">
                        <legend class="">Register</legend>
                    </div>
                    <div class="control-group">
                        <%= f.label :firstname %>
                        <div class="controls">
                            <%= f.text_field :firstname , :class=> "form-control"%>
                        </div>
                    </div>
                    <div class="control-group">
                        <%= f.label :lastname %>
                        <div class="controls">
                            <%= f.text_field :lastname , :class=> "form-control"%>
                        </div>
                    </div>
                    <div class="control-group">
                        <%= f.label :email %>
                        <div class="controls">
                            <%= f.email_field :email ,  :oninvalid=>"setCustomValidity('Invalid email address')" , :class=> "form-control"%>
                        </div>
                    </div>
                    <div class="control-group">
                        <%= f.label :password %>
                        <div class="controls">
                            <%= f.password_field :password , :oninvalid=>"setCustomValidity('Invalid password')", :class=> "form-control"%>
                            <p class="help-block">Password should be at least 6 characters</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <%= f.label :confirmpassword %>
                        <div class="controls">
                            <%= f.password_field :password_confirmation , :oninvalid=>"setCustomValidity('password doesnt match')", :class=> "form-control"%>
                            <p class="help-block">Please confirm password</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <%= f.submit "Sign up" , :class=> 'btn btn-primary' %>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

   <% end %>