 <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
					<span class="icon-bar"></span> <span class="icon-bar"></span></button> 
					<%= link_to 'ShopSJSU', root_path , :class=>'navbar-brand', :id=>'linkcolor'%>
					
                </div>
                <div class="navbar-collapse collapse" id="navbar">
                    <div class="navbar-form navbar-right">
                        <div class="text-of-email">
						<%= link_to current_user.email, users_dashboard_path, :class=>'link-hover-color' %>
						</div>
                    </div>
                </div>
            </div>
        </nav>
        <div id="legend">
            <legend class=""></legend>
            <h1><legend class="">Edit profile</legend></h1>
        </div><%= form_for(resource,as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %><%#= devise_error_messages! as: resource_name%>
        <div class="new-user" id="sign-up" style="width:45%">
            <div class="control-group">
                <%= f.label :firstname %><br>
                <div class="controls">
                    <%= f.text_field :firstname , :class=> "form-control"%>
                </div>
            </div><%if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>
                Currently waiting confirmation for: <%= resource.unconfirmed_email %>
            </div><%end %>
            <div class="control-group">
                <%= f.label :lastname %>
                <div class="controls">
                    <%= f.text_field :lastname , :class=> "form-control"%>
                </div>
            </div>
            <div class="control-group">
                <%= f.label :email %>
                <div class="controls">
                    <%= f.email_field :email ,  :oninvalid=>"setCustomValidity('Invalid email address')" , :class=> "form-control"%>
                </div>
                <div class="actions">
                    <button class="btn btn-success" style=" width:100px; height:35px; margin-top:15px;" type="button"><%= f.submit "Update" ,:style=>'background-color:transparent;  text-color:white; border:0px;'%></button>
                </div><%end %>
            </div>
            <h3>Cancel my account</h3>
            <p>Unhappy? <button class="btn btn-success" style=" width:100px; height:35px;" type="button"><%= link_to "Delete", registration_path(resource_name), data: { confirm: "Are you sure?" },:style=>'background-color:transparent; text-decoration:none;', method: :delete %>
            <p></p></button></p>
        </div>
    </div>