<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button> <%= link_to 'ShopSJSU', root_path , :class=>'navbar-brand', :id=>'linkcolor'%>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <div class="navbar-form navbar-right">
                    <div class="text-of-email">
                        <%= link_to current_user.email, users_dashboard_path, :class=>'link-hover-color' %>
                    </div>
                    <div class="text-of-email">
                        <%= link_to "Log out", destroy_user_session_path, :class=>'link-hover-color', method: :delete %>
                    </div><%#= link_to "Inbox", mailbox_inbox_path %><%#= link_to "add new pic" , new_profilepic_path(current_user), :class=>'link-hover-color' ,:style => "color: #FFFFFF;"  %>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-10">
                <div class="well panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 text-center">
                                <%#= current_user.id %><%#= current_user.profilepic.avator.id %><%# if current_user.nil? %><img alt="" class="center-block img-circle img-thumbnail img-responsive" data-src="holder.js/200x200" src="assets/blank.png"> <%# else %> <%#= render 'profilepics/show' %> <%#= image_tag current_user.profilepic %> <%#= current_user.profilepic.id %> <%# end %> <%= render 'profilepics/form' %> <%#= render 'profilepics/new' %>
                                <ul class="list-inline ratings text-center" title="Ratings">
                                    <li>
                                        <a href="#"><span class="fa fa-star fa-lg"></span></a>
                                    </li>
                                    <li>
                                        <a href="#"><span class="fa fa-star fa-lg"></span></a>
                                    </li>
                                    <li>
                                        <a href="#"><span class="fa fa-star fa-lg"></span></a>
                                    </li>
                                    <li>
                                        <a href="#"><span class="fa fa-star fa-lg"></span></a>
                                    </li>
                                    <li>
                                        <a href="#"><span class="fa fa-star fa-lg"></span></a>
                                    </li>
                                </ul>
                            </div><!--/col-->
                            <div class="col-xs-12 col-sm-8">
                                <h2><%= current_user.firstname %> <%= current_user.lastname %></h2>
                                <p><strong>About:</strong> Student at San Jose State University</p>
                            </div><!--/col-->
                            <div class="clearfix"></div>
                            <div class="col-xs-12 col-sm-3">
                                <h2 style="text-align:center"><strong></strong></h2><button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> My listings</button>
                            </div><!--/col-->
                            <div class="col-xs-12 col-sm-3">
                                <h2 style="text-align:center"><strong></strong></h2><button class="btn btn-success btn-block" type="button"><%= link_to "Inbox", mailbox_inbox_path, :class=>'link-hover-color' ,:style => "color: #FFFFFF;"  %></button>
                            </div><!--/col-->
                            <div class="col-xs-12 col-sm-3">
                                <h2 style="text-align:center"><strong></strong></h2><button class="btn btn-success btn-block" type="button"><%= link_to "Edit Profile" , 

                                edit_user_registration_path(current_user.id), :class=>'link-hover-color' , :style=>'color:#FFFFFF;'  %></button>
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <h2 style="text-align:center"><strong></strong></h2><button class="btn btn-success btn-block" type="button"><%= link_to "add new Item" , 

                                new_item_path, :class=>'link-hover-color' ,:style => "color: #FFFFFF;"  %></button>
                            </div><!--/col-->
                        </div><!--/row-->
                    </div><!--/panel-body-->
                </div><!--/panel-->
            </div><!--/col-->
        </div><!--/row-->
    </div><!--/container-->
    <%# end %>