<%= form_for @item , html: { multipart: true } do |f| %>
<%#= devise_error_messages! %>
<%= f.hidden_field :user_id, :value=> current_user.id %>

        <div class="new-user" id="sign-up" style="width:45%">
        <div class="control-group">
            <%= f.label :name %>
            <div class="controls">
                <%= f.text_field :name , :class=> "form-control"%>
            </div>
        </div>
        <div class="control-group">
            <%= f.label :price %>
            <div class="controls">
                <%= f.text_field :price , :class=> "form-control"%>
            </div>
        </div>
        <div class="control-group">
            <%= f.label :description %>
            <div class="controls">
                <%= f.text_area :description ,   :class=> "form-control", :cols => "10", :rows => "10"%>
                <p class="help-block"></p>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <%= f.file_field :image  %>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <%= f.submit "Post" , :class=> 'btn btn-primary' , :style=> 'float:right; width:100px; color: #FFFFFF;' %>
            </div>
        </div>
    </div>
 <% end %>