<div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button> <%= link_to 'ShopSJSU', root_path , :class=>'navbar-brand', :id=>'linkcolor'%>
                </div>
                <div class="navbar-collapse collapse" id="navbar">
                    <div class="navbar-form navbar-right">
                        <div class="text-of-email">
                            <%if current_user.present? %><%= link_to current_user.email , users_dashboard_path ,:class=>'link-hover-color'%><%end %>
                        </div>
                        <div class="text-of-email">
                            <%= link_to "Log out", destroy_user_session_path,:class=>'link-hover-color', method: :delete %>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="content-wrapper">
                <div class="item-container">
                    <div class="container">
                        <div class="col-md-7">
                            <div class="product col-md-5 service-image-left">
                                <center>
                                    <%= image_tag @item.image.url , :id=>'item-display', :alt=>"" , :style=>"width:200px; height:200px;padding:8px;" %>
                                </center>
                            </div>
                            <div class="container service1-items col-sm-2 col-md-2 pull-left">
                                <center>
                                    <a class="service1-item" id="item-1"><%= image_tag @item.image.url , :id=>'item-display', :alt=>"" , :style=>"width:100px; height:100px;padding:8px;" %></a> <a class="service1-item" id="item-2"><%= image_tag @item.image.url , :id=>'item-display', :alt=>"" , :style=>"width:100px; height:100px; padding:8px;" %></a> <a class="service1-item" id="item-3"><%= image_tag @item.image.url , :id=>'item-display', :alt=>"" , :style=>"width:100px; height:100px;padding:8px;" %></a>
                                </center>
                            </div>
                        </div><%if @item.user_id==current_user.id %><%else %>
                        <div class="row profile">
                            <div class="col-md-3">
                                <div class="profile-sidebar">
                                    <div class="profile-userpic">
                                        <img alt="" class="center-block img-circle img-thumbnail img-responsive" data-src="holder.js/200x200" src="assets/blank.png"> <!--<img src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive" alt="">-->
                                         <%#= image_tag @item.user.profilepic ,:class=> "img-responsive" %> <%#=@item.user.profilepic.id %> <%#=current_user.profilepic.id %>
                                    </div>
                                    <div class="profile-usertitle">
                                        <div class="profile-usertitle-name">
                                            <%=@item.user.firstname %><br>
											<%=@item.user.lastname %>
                                        </div>
                                        <div class="profile-usertitle-job">
                                            <div class="rating">
											<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
											</div>
                                        </div>
                                    </div>
                                    <div class="profile-userbuttons">
                                        <button class="btn btn-success btn-sm" type="button">Follow</button> <button class="btn btn-danger btn-sm" type="button"><%= link_to "Message" ,  mailbox_inbox_path(@item.user, :id=>@item.user.id), :class=>'link-hover-color' ,:style => "color: #FFFFFF;"  %></button>
                                    </div>
                                </div>
                            </div>
                        </div><%end %>
                        <div class="col-md-12">
                            <div class="product-title">
                                <h2><%= @item.name%></h2>
                            </div>
                            <div class="product-desc"></div>
                            <div class="product-rating">
                                <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i>
                            </div>
                            <hr>
                            <div class="product-price">
                                <%= @item.price%>
                            </div>
                            <div class="product-stock">
                                In Stock
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="col-md-12 product-info">
                        <ul class="nav nav-tabs nav_tabs" id="myTab">
                            <li class="active">
                                <a data-toggle="tab" href="#service-one">DESCRIPTION</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#service-two">PRODUCT INFO</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#service-three">REVIEWS</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade in active" id="service-one">
                                <section class="container product-info">
                                    <%= @item.description%>
                                </section>
                            </div>
                            <div class="tab-pane fade" id="service-two">
                                <section class="container"></section>
                            </div>
                            <div class="tab-pane fade" id="service-three"></div>
                        </div>
                        <hr>
                    </div>
                </div> <div class="btn-group cart">
						
						<% if @item.user_id == current_user.id %>
                        <button type="button" class="btn btn-success" style="margin-bottom:50px; width:120px;">
                        <%#= link_to "Contact seller" , seller_path(@item, :id=>@item.id), :class=>'link-hover-color' ,:style => "color: #FFFFFF;"  %>
						
                        <%= link_to 'Edit Item', edit_item_path(@item),:class=>'link-hover-color', :style=>'color:#FFFFFF; text-decoration:none;' %>
                        </button>
						<% else %>
						<% end %>
                    </div> 
            </div>
        </div>
    </div>